.App{
  display: flex;
  justify-content: center;
  margin-top: 33vh;
  background-color: gradient(#000, #ec2e2e);
}

.drump-pads{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.drum-pad{
  border: 1px solid #000;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#display{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}
